<div class="container">
  <div class="movies">
    <% @movies.each do |movie| %>
      <div class="movie">
        <h3><%= link_to movie.title, movie_path(movie) %></h3>
        <div>Rating: <%= movie.rating %></div>
        <div>Profit: <%= total_gross(movie) %></div>
        <p><%= description(movie) %></p>
        <div>Year of release: <%= release_date(movie) %></div>
      </div>
    <% end %>
  </div>

  <%= link_to 'Add new movie', new_movie_path %>
</div>
