<div class="container">
  <div class="movies">
    <% @movies.each do |movie| %>
      <div class="movie">
        <h3><%= movie.title %></h3>
        <div>Rating: <%= movie.rating %></div>
        <div>Profit: <%= total_gross(movie) %></div>
        <p><%= description(movie) %></p>
        <div>Year of release: <%= release_date(movie) %></div>
      </div>
    <% end %>
  </div>
</div>
