<!DOCTYPE html>
<html lang="en">
  <head>
    <title>RailsMovieReview</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=5">
    <meta name="description" content="Movie review app">

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="<%= "#{controller.controller_name} #{controller.action_name}" %>">
    <%= render 'shared/header' %>

    <main>
      <%= yield %>
    </main>
  </body>
</html>
